#wrapper input {
    width: 100%;
    height: 35px;
}

#wrapper form button {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    font-family: 'Odibee Sans', cursive;
    border-radius: 5px;
}

.bloc {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border: solid grey 1px;
}

#wrapper form select {
    width: 100%;
    border: none;
    min-height: 200px;
    min-width: 503px;
    padding: 10px;
    margin: -5px -20px -5px -5px;
    background-color: #3CBC8D;
}

#wrapper input[type=text] {
    background-color: #3CBC8D;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

p {
    font-family: 'Odibee Sans', cursive;
}

label {
    font-family: 'Odibee Sans', cursive;
}

h3,h2,h1 {
    font-family: 'Odibee Sans', cursive;
    text-align: center;
}

.hidden {
    display:none;
}

#wrapper {
    width: 960px;
    height: 550px;
    border-radius: 50px;
    background-color: #71C598;
    margin: auto;
}

.playerdiv {
    float: left;
    width: 50%;
}

#reset {
    display: block;
    margin: 0 auto;
    background-color: #EF4823;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
    
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}